<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${pageTitle}">Home</title>
	<link rel="stylesheet" type="text/css" href="/resources/front/css/bootstrap.min.css" />
	<script src="/resources/front/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Hello world!</h1>
		<p th:text="'The time on the server is '+${serverTime}">The time on the server is Now!.</p>
		
		<a href="/admin/facebook/profile" class="btn btn-lrg">Facebook Profile</a>	
		<a href="/admin/twitter/profile" class="btn btn-lrg">Twitter Profile</a>	
	</div>
</body>
</html>
